{% extends "base.html" %}
{% load static %}
{% block head_content %}
  <title>Unidades - Segursat GPS</title>
  <!-- Begin Page Level Custom Styles -->
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css' %}">
  <link href="{% static 'assets/css/elements/miscellaneous.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/elements/breadcrumb.css' %}" rel="stylesheet" type="text/css" />
  <script src="{% static 'plugins/leaflet/js/leaflet.js' %}"></script>
  <link rel="stylesheet" href="{% static 'plugins/leaflet/css/leaflet.css' %}"/>
  <script src="https://kit.fontawesome.com/2ea5efd210.js" crossorigin="anonymous"></script>
  <link href="{% static 'assets/css/components/custom-modal.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/users/user-profile.css' %}" rel="stylesheet" type="text/css" />
  <!-- End Page Level Custom Styles -->
{% endblock %}
{% block container %}
<!-- Begin Content Area -->
{% include "geofences/geofence-create-modal.html" %}
<div id="content" class="main-content">
  <div class="layout-px-spacing">
    <div class="row layout-top-spacing">
      <div class="col-xl-6 col-lg-6 col-sm-6 layout-spacing responsive-header-menu-breadcum">
        <nav class="breadcrumb-two" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'geofences' %}">Geocercas</a></li>
            <li class="breadcrumb-item"></li>
          </ol>
        </nav>
      </div>
      <div class="col-xl-6 col-lg-6 col-sm-6 responsive-header-menu">
        <div class="d-flex flex-row-reverse bd-highlight">
          <button id="create-geofence" class="btn btn-primary btn-rounded">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-crop">
              <path d="M6.13 1L6 16a2 2 0 0 0 2 2h15"></path>
              <path d="M1 6.13L16 6a2 2 0 0 1 2 2v15"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">
          <div class="table-responsive mb-4 mt-4">
            <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
              <thead>
                <tr>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Ultima Modificacion</th>
                  <th class="text-center">Fecha de Creacion</th>
                  <th class="text-center">Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for geofence in geofences %}
                <tr>
                  <td class="text-center">{{geofence.name}}</td>
                  <td class="text-center">{{geofence.modified}}</td>
                  <td class="text-center">{{geofence.created}}</td>
                  <td class="text-center">
                    <div class="btn-group">
                      <button disabled type="button" class="btn btn-dark btn-sm"><i class="fas fa-eye"></i></button>
                      <button disabled type="button" class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference24" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuReference24">
                        <a class="dropdown-item" href="#"><i class="fas fa-pencil-alt" style="padding-right: 15px;"></i>Editar</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-trash-alt" style="padding-right: 15px;"></i>Eliminar</a>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/footer.html' %}
</div>
<!-- End Content Area -->
{% endblock %}
{% block script_content %}
<!-- Begin Page Level Custom Scripts -->
<script src="{% static 'plugins/table/datatable/datatables.js' %}"></script>
<!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
<script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js' %}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/leaflet-draw/js/leaflet-draw.js' %}"></script>
<link rel="stylesheet" href="{% static 'plugins/leaflet-draw/css/leaflet.draw-src.css' %}"/>
<script>
    $('#html5-extension').DataTable( {
      dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
      buttons: {
        buttons: [
          { extend: 'copy', className: 'btn' },
          { extend: 'excel', className: 'btn' },
          { extend: 'print', className: 'btn' }
        ]
      },
      "oLanguage": {
        "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
        "sInfo": "Mostrando página _PAGE_ de _PAGES_",
        "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
        "sSearchPlaceholder": "Buscar...",
        "sLengthMenu": "Results :  _MENU_",
      },
      "stripeClasses": [],
      "lengthMenu": [7, 10, 20, 50],
      "pageLength": 7
    });
</script>
<script>
  renderMap = () => {
    map = L.map('map',{
      center: [-12.1021887,-77.0665742],
      zoom: 16,
    });
    const openStreetMap = L.tileLayer(
      'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      {
        attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a>',
        maxZoom: 19,
      }
    );
    const googleStreetsMap = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
      attribution: '&copy; <a href="https://maps.google.com/">Google Maps</a>',
      maxZoom: 20,
      subdomains:['mt0','mt1','mt2','mt3']
    });
    const googleHybridMap = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
      attribution: '&copy; <a href="https://maps.google.com/">Google Maps</a>',
      maxZoom: 20,
      subdomains:['mt0','mt1','mt2','mt3']
    });
    const baseLayers = {
      'Open Street Maps': openStreetMap,
      'Google Street Maps': googleStreetsMap,
      'Google Hybrid Maps': googleHybridMap
    };
    const overlays = {};
    L.control.layers(baseLayers,overlays).addTo(map);
    baseLayers['Google Street Maps'].addTo(map);
    const drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);
    const drawControl = new L.Control.Draw({
      draw: {
        polyline: false,
        marker: false,
        circle: false,
        polygon: {
          allowIntersection: false,
          showArea: true
        }
      },
      edit: {
        featureGroup: drawnItems,
        poly: {
          allowIntersection: false
        }
      }
    });
    map.addControl(drawControl);
    map.on(L.Draw.Event.CREATED, function (event) {
      document.getElementById("id_geojson").value = "";
      drawnItems.addLayer(event.layer);
      geojson = JSON.stringify(drawnItems.toGeoJSON());
      document.getElementById("id_geojson").value = geojson;
    });
  }
</script>
<script>
  document.getElementById("create-geofence").addEventListener("click", () => {
    document.getElementById("map_container").innerHTML = `<div id="map" style="height:100%;width:100%;"></div>`;
    $("#geofence_create_modal").modal("show");
    setTimeout(renderMap,500);
  });
</script>
{% if form.errors %}
<script>
  document.getElementById("map_container").innerHTML = `<div id="map" style="height:100%;width:100%;"></div>`;
  $("#geofence_create_modal").modal("show");
  setTimeout(renderMap,500);
</script>
{% endif %}
<!-- End Page Level Custom Scripts -->
{% endblock%}