<div class="modal fade" id="geofence_create_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl mt-5">
      <div class="modal-content">
        {% load static %}
        {% load widget_tweaks %}
        <form method="post" action="{% url 'geofences' %}">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title">Crear nueva geocerca</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-sm-8">
                  <div id="map_container" style="height:700px;width:100%;">
                    <div id="map" style="height:100%;;width:100%;"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  {% for field in form %}
                  <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.errors %}
                    {% render_field field class="form-control is-invalid" placeholder=field.label %}
                    {% for error in field.errors %}
                    <p class="help-block text-danger">(*) {{ error }}</p>
                    {% endfor %}
                    {% else %}
                    {% if field.value %}
                    {% render_field field class="form-control is-valid" placeholder=field.label %}
                    {% else %}
                    {% if field.name == "geojson" %}
                    {% render_field field class="form-control" style="height : 445px" placeholder=field.label %}
                    {% else %}
                    {% render_field field class="form-control" placeholder=field.label %}
                    {% endif %}

                    {% endif %}
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="submit-btn btn btn-primary">Crear</button>
          </div>
        </form>
      </div>
    </div>
  </div>