{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/others/favicon.png' %}"/>
    <link href="{% static 'assets/css/loader.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'assets/js/loader.js' %}"></script>
    <!-- Begin Global Mandatory Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <!-- End Global Mandatory Styles -->
    {% block head_content %}{% endblock %}
  </head>
<body class="alt-menu">
  <!-- Begin Loader -->
  {% include 'includes/loader.html' %}
  <!--  End Loader -->
  <!-- Begin NavBar -->
  {% include 'includes/navbar.html' %}
  <!-- End NavBar -->
  <!-- Begin Main Container -->
  <div class="main-container sidebar-closed sbar-open"  id="container">
    <div class="overlay"></div>
    <div class="cs-overlay"></div>
    <div class="search-overlay"></div>
    <!-- Begin Sidebar-->
    {% include 'includes/sidebar.html' %}
    <!-- End Sidebar  -->
    <!-- Begin Content Area -->
    {% block container %}{% endblock%}
    <!-- End Content Area -->
  </div>
  <!-- End Main Container -->
  <!-- Begin Global Mandatory Scripts -->
  <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'assets/js/app.js' %}"></script>
  <script>
    $(document).ready(function() {
      App.init();
    });
  </script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/js/pages/api/api.js' %}"></script>
  <!-- End Global Mandatory Scripts -->
  <script src="{% static 'plugins/toast/bootstrap-notify.js' %}"></script>
  <script src="{% static 'plugins/toast/bootstrap-notify.min.js' %}"></script>
  <script src="{% static 'plugins/blockui/jquery.blockUI.min.js' %}"></script>
  <script src="{% static 'plugins/blockui/custom-blockui.js' %}"></script>
  <script src="{% static 'assets/js/pages/common/loader.js' %}"></script>
  <script src="{% static 'assets/js/pages/common/websocket.js' %}"></script>
  {% block script_content %}{% endblock %}
  <script>
    function logoutConfirmation(){
      swal({
        title: "¿Seguro que quiere cerrar sesión?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Cerrar sesión',
        cancelButtonText:"cancelar",
        padding: '2em'
      }).then(function (result) {
        if (result.value) {
          window.location.href = "{% url 'logout' %}"
        }
      })
    }
  </script>
</body>
</html>