{% extends "base.html" %}
{% load static %}
{% block head_content %}
  <title>Mapas - Segursat GPS</title>
  <!-- Begin Page Level Custom Styles -->
  <link href="{% static 'plugins/widgets-map/css/style.css' %}" rel="stylesheet">
  <!-- End Global Mandatory Styles -->
  <!-- <script src="{% static 'plugins/leaflet/js/leaflet.js' %}"></script> -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <!-- <link rel="stylesheet" href="{% static 'plugins/leaflet/css/leaflet.css' %}"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css" rel="stylesheet" >
  <link href="{% static 'plugins/leaflet/css/leaflet.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/components/tabs-accordian/custom-tabs.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/widgets-map/css/marker.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/elements/search.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/scrollspyNav.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/components/custom-modal.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/animate/animate.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/elements/tooltip.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'plugins/select2/select2.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'plugins/sweetalerts/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'plugins/sweetalerts/sweetalert.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/components/custom-sweetalert.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/widgets/modules-widgets.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'plugins/jquery-splitter/css/jqx.base.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/dashboard/dash_1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/elements/avatar.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'plugins/flatpickr/flatpickr.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'plugins/flatpickr/custom-flatpickr.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/components/tabs-accordian/custom-accordions.css' %}" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" rel="stylesheet" >
  <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" rel="stylesheet" >
  <style>
    .map {
      width: 100%;
      height: 100%
    }

    .list-group-item:hover{
      background-color: #F8951D;
      color: white;
    }
  </style>
  <style>
    .blockui-growl-message {
        display: none;
        text-align: left;
        padding: 15px;
        background-color: #455a64;
        color: #fff;
        border-radius: 3px;
    }
    .blockui-animation-container { display: none; }
    .multiMessageBlockUi {
        display: none;
        background-color: #455a64;
        color: #fff;
        border-radius: 3px;
        padding: 15px 15px 10px 15px;
    }
    .multiMessageBlockUi i { display: block }
    .leaflet-tooltip-left:before {
    right: 0;
    margin-right: -12px;
    border-left-color: rgba(0, 0, 0, 0.4);
}
.leaflet-tooltip-right:before {
    left: 0;
    margin-left: -12px;
    border-right-color: rgba(0, 0, 0, 0.4);
    }
.leaflet-tooltip-own {
    position: absolute;
    padding: 3px;
    background-color: white;
    border: 1px solid #000;
    color: #000;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
.leaflet-tooltip-own-geofence {
    position: absolute;
    /* padding: 3px; */
    /* background-color: white;
    border: 1px solid #000; */
    color: #000;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.4); */
}
  </style>
  <!-- End Page Level Custom Styles -->
{% endblock %}
{% block container %}
<div id="content" class="main-content container-map-all" >
  <div class="widget-constent-area">
    {% include "maps/waze-modal.html" %}
    <div class="map" id="map"></div>
    <!-- Begin Sidebar -->
    {% include "maps/map-sidebar.html" %}
    <!-- End Sidebar -->
    <!-- Begin Right Bar -->
    {% include "maps/map-controls.html" %}
    <!-- End Right Bar -->
    <!-- Begin Bottom Bar -->
    {% include "maps/map-bottom-bar.html" %}
    <!-- End Bottom Bar -->
  </div>
</div>
{% endblock %}
{% block script_content %}
  <script src="{% static 'plugins/widgets-map/js/core.js' %}"></script>
  <script src="{% static 'plugins/widgets-map/js/app.js' %}"></script>
  <script src="{% static 'plugins/leaflet/js/leaflet.js' %}"></script>
  <script src="https://kit.fontawesome.com/2ea5efd210.js" crossorigin="anonymous"></script>
  <script src="{% static 'assets/js/elements/tooltip.js' %}"></script>
  <script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
  <script src="{% static 'plugins/blockui/jquery.blockUI.min.js' %}"></script>
  <script src="{% static 'plugins/blockui/custom-blockui.js' %}"></script>
  <!-- <script src="{% static 'assets/js/elements/custom-search.js' %}"></script> -->
  <script src="{% static 'plugins/leaflet-moving-marker/js/MovingMarker.js' %}"></script>
  <script src="{% static 'plugins/leaflet-rotated-marker/js/leaflet.rotatedMarker.js' %}"></script>
  <script src="https://unpkg.com/leaflet-ant-path" type="text/javascript"></script>
  <script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'plugins/select2/select2.min.js' %}"></script>
  <script src="{% static 'plugins/sweetalerts/sweetalert2.min.js' %}"></script>
  <script src="{% static 'plugins/sweetalerts/custom-sweetalert.js' %}"></script>
  <script src="{% static 'plugins/blockui/jquery.blockUI.min.js' %}"></script>
  <script src="{% static 'plugins/blockui/custom-blockui.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
  <script src="{% static 'assets/js/pages/maps/map-view.js' %}"></script>
  <script src="{% static 'plugins/toast/bootstrap-notify.js' %}"></script>
  <script src="{% static 'plugins/toast/bootstrap-notify.min.js' %}"></script>
  <script src="{% static 'plugins/jquery-splitter/js/demos.js' %}"></script>
  <script src="{% static 'plugins/jquery-splitter/js/jqxcore.js' %}"></script>
  <script src="{% static 'plugins/jquery-splitter/js/jqxsplitter.js' %}"></script>
  <script src="{% static 'plugins/flatpickr/flatpickr.js' %}"></script>
  <script src="{% static 'assets/js/components/ui-accordions.js' %}"></script>
  <script src="http://vanderlee.github.io/block-unblock/jquery.block.js"></script>
  <script>
    $(document).ready(function () {
      // Create jqxSplitter.
      $('#jqxSplitter').jqxSplitter({
        width: "100%",
        height: "100%",
        orientation: "horizontal",
        theme: 'summer',
        panels: [{ size: '48%' }, { size: '52%' }]
      });
    });
  </script>
  <script>
      $(".disabled-results").select2({
        placeholder: "Seleccione por favor",
        allowClear: false
      });
      $("#select2-history-units-container").click(function(){
        console.log("history");
      });
  </script>
  <script>
    function select2Categorias(){
      contenedor = $("span.select2-dropdown--below");
      contenedor.find("ul li ul li").css("padding","0 12px 1px");
      console.log(contenedor.find("strong"));
      if(contenedor.find("ul li ul li").attr("aria-selected") == "true"){
        contenedor.find("strong").css({
          "padding":"1px 12px 0",
          "background-color": "#ffecc7"
        });
      }else{
        contenedor.find("strong").css("padding","1px 12px 0");
      }
    }
    function copiarTexto(THIS,element){
      var $temp = $("<input>");
       $("body").append($temp);
       $temp.val($(element).html()).select();
       document.execCommand("copy");
       $temp.remove();
    }
    function copiarTextoSutran(THIS){
       var $temp = $("<input>");
       $("body").append($temp);
       $temp.val($('#sutran-modal').attr("data")).select();
       console.log($('#sutran-modal').attr("data"));
       document.execCommand("copy");
       $temp.remove();
    }
    function modalSutran(THIS){
      $('#sutran-modal').attr("data",$("#unitNameSelect").text());
      $('#sutran-modal h5 span').text($("#unitNameSelect").text());
      $('#sutran-modal').modal('show');
    }
    $('#input-search').on('keyup', function() {
      var rex = new RegExp($(this).val(), 'i');
      $('.searchable-container .items').hide();
      $('.searchable-container .items').filter(function() {
        return rex.test($(this).text());
      }).show();
    });
    /*Demo.prototype.addSearchFilter = function () {
      document.querySelector('.js-shuffle-search').addEventListener('keyup', this._handleSearchKeyup.bind(this));
    };

    // Filter the shuffle instance by items with a title that matches the search input.
    Demo.prototype._handleSearchKeyup = function (evt) {
      var searchText = evt.target.value.toLowerCase();

      this.shuffle.filter(function (element, shuffle) {
        var titleElement = element.querySelector('.picture-item__title');
        var titleText = titleElement.textContent.toLowerCase().trim();

        return titleText.indexOf(searchText) !== -1;
      });
    };*/
  </script>
  <script>
    const mapView = new MapView();
    mapView.run();
    const myWebsocket = new MyWebsocket("{{ user.profile.account }}");
    myWebsocket.run();
    myWebsocket.ws.onmessage = function(e) {
      const type = JSON.parse(e.data).message.type;
      // websocket actualizacion ubicaciones
      if (type == "update_location"){
        const newLocation = JSON.parse(e.data).message.payload;
        //console.log(newLocation);
        mapView.updateMarkerPosition(
          newLocation['unit_name'],
          [
            newLocation['latitude'],
            newLocation['longitude']
          ],
          newLocation['angle']
        );
        mapView.updateBottomBar(newLocation['unit_name']);
      }
      // websocket actualizacion ubicaciones
      // websocket notificaciones
      if (type == "notification") {
        const newNotification = JSON.parse(e.data).message.payload;
        $.notify({
          // options
          icon: 'glyphicon glyphicon-warning-sign',
          title: `<div>${newNotification.title}</div>`,
          message: `<div>${newNotification.message}</div>`,
        }, {
          position: null, type: "danger",
          offset: {
            x: 40,
            y: 70
          },
          delay: 15000
        });
      }
      // fin websocket notificaciones
    }
  </script>
  <script>
    document.getElementById("history-btn").addEventListener("click", function() {
      const historyDateFrom = document.getElementById("history-date-from").value;
      const historyDateTo = document.getElementById("history-date-to").value;
      const historyUnit =  document.getElementById("history-units").value;
      const historyMarkerCheckbox = document.getElementById("history-marker-checkbox").checked;
      const historyPlaybackCheckbox = document.getElementById("history-playback-checkbox").checked;
      const historySpeedRange = parseInt(document.getElementById("history-speed-range").value);
      if (historyDateFrom === "") {
        swal({
          type: 'error',
          title: 'Oops...',
          text: 'Seleccione una fecha inicial valida',
          padding: '2em'
        })
      }else if (historyDateTo === "") {
        swal({
          type: 'error',
          title: 'Oops...',
          text: 'Seleccione una fecha final valida',
          padding: '2em'
        })
      }else if (historyUnit === "") {
        swal({
          type: 'error',
          title: 'Oops...',
          text: 'Seleccione una unidad',
          padding: '2em'
        })
      }else{
        mapView.drawLocationHistory(
          historyUnit,
          historyDateFrom,
          historyDateTo,
          historyMarkerCheckbox,
          historyPlaybackCheckbox,
          historySpeedRange
        );
      }

    });
  </script>
  <script>
    var f1 = flatpickr(document.getElementById('history-date-from'), {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
      time_24hr: true,
      defaultDate: "today"
    });
    var date = new Date();
    var tomorrow = new Date(date.getFullYear(), date.getMonth(), (date.getDate() + 1));
    var f2 = flatpickr(document.getElementById('history-date-to'), {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
      time_24hr: true,
      defaultDate: tomorrow
    });
    const blockInput = () => {
        if (document.getElementById("history-playback-checkbox").checked) {
          document.getElementById("history-marker-checkbox").checked = false;
        }
      }
      const blockInputPlayback = () => {
        if (document.getElementById("history-marker-checkbox").checked) {
          document.getElementById("history-playback-checkbox").checked = false;
        }
      }
      const rangePicker = () => {
        if (document.getElementById("history-playback-checkbox").checked) {
          document.getElementById("history-marker-checkbox").checked = false;
        }
      }
  </script>
  <script type="text/javascript">
    $(document).on("click", ".searchable-container .items", function () {
      $(this).addClass("active").siblings().removeClass("active")
    })
  </script>
  <script>
    const acticateTracking = () => {
      const check = document.getElementById("activateTrackingCheckbox");
      if (check.checked) {
        console.log("Checked");
      } else {
        console.log("Not Checked");
      }
      //Para saber el estado desde la consola escribir esto.
      //document.getElementById("activateTrackingCheckbox").checked
    }
  </script>
{% endblock%}