{% extends "base.html" %}
{% load static %}
{% block head_content %}
<title>Grupos - Segursat GPS</title>
<!-- Begin Page Level Custom Styles -->
<link href="{% static 'plugins/table/datatable/datatables.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/table/datatable/custom_dt_html5.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/table/datatable/dt-global_style.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/elements/miscellaneous.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/elements/breadcrumb.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/components/custom-modal.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/users/user-profile.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/elements/custom-tree_view.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/widgets/modules-widgets.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugins/sweetalerts/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugins/sweetalerts/sweetalert.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/components/custom-sweetalert.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/forms/theme-checkbox-radio.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/apps/contacts.css' %}" rel="stylesheet" type="text/css" />
<script src="https://kit.fontawesome.com/2ea5efd210.js" crossorigin="anonymous"></script>
<!-- End Page Level Custom Styles -->
{% endblock %}
{% block container %}
<!-- Begin Content Area -->
<div id="content" class="main-content">
  <div class="layout-px-spacing">
    <div class="row layout-top-spacing">
      <div class="col-xl-6 col-lg-12 col-sm-12 layout-spacing responsive-header-menu-breadcum">
        <div class="breadcrumb-four">
          <ul class="breadcrumb">
            <li><a href="javscript:void(0);"><i class="fas fa-home h6" aria-hidden="true"></i></a>
            </li>
            <li>
              <a class="d-flex" href="javscript:void(0);">
                <i class="fas fa-car-side h6 pr-2" aria-hidden="true"></i>
                Unidades
              </a>
            </li>
            <li class="active">
              <a class="d-flex" href="javscript:void(0);">
                <i class="fas fa-layer-group h6 pr-2" aria-hidden="true"></i>
                Grupos
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-sm-6 responsive-header-menu">
        <div class="d-flex flex-row-reverse bd-highlight">
          <button class="btn btn-primary mb-2 mr-2">
            <i class="fas fa-layer-group h7 pr-2" aria-hidden="true"></i> Agregar grupos
          </button>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="widget-content searchable-container grid">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
              <form class="form-inline my-2 my-lg-0">
                <div class="">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-search">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                  </svg>
                  <input type="text" class="form-control product-search" id="input-search" placeholder="Buscar Grupos...">
                </div>
              </form>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-7 col-sm-5 text-sm-right text-center layout-spacing align-self-center">
              <div class="d-flex justify-content-sm-end justify-content-center">
                <div class="switch align-self-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid view-grid active-view">
                    <rect x="3" y="3" width="7" height="7"></rect>
                    <rect x="14" y="3" width="7" height="7"></rect>
                    <rect x="14" y="14" width="7" height="7"></rect>
                    <rect x="3" y="14" width="7" height="7"></rect>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-list view-list ">
                    <line x1="8" y1="6" x2="21" y2="6"></line>
                    <line x1="8" y1="12" x2="21" y2="12"></line>
                    <line x1="8" y1="18" x2="21" y2="18"></line>
                    <line x1="3" y1="6" x2="3" y2="6"></line>
                    <line x1="3" y1="12" x2="3" y2="12"></line>
                    <line x1="3" y1="18" x2="3" y2="18"></line>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="searchable-items grid">
            <div class="items items-header-section">
              <div class="item-content">
                <div class="">
                  <div class="n-chk align-self-center text-center">
                    <label class="new-control new-checkbox checkbox-primary">
                      <input type="checkbox" class="new-control-input" id="contact-check-all">
                      <span class="new-control-indicator"></span>
                    </label>
                  </div>
                  <h4>Nombre</h4>
                </div>
                <div class="user-email">
                  <h4 style="margin-left: 0;">Cantidad</h4>
                </div>
                <div class="user-location">
                  <h4 style="margin-left: 0;">Descripción</h4>
                </div>
                <div class="action-btn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-trash-2  delete-multiple">
                    <polyline points="3 6 5 6 21 6"></polyline>
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                    <line x1="10" y1="11" x2="10" y2="17"></line>
                    <line x1="14" y1="11" x2="14" y2="17"></line>
                  </svg>
                </div>
              </div>
            </div>
            <div class="items">
              <div class="item-content">
                <div class="user-profile">
                  <div class="n-chk align-self-center text-center">
                    <label class="new-control new-checkbox checkbox-primary">
                      <input type="checkbox" class="new-control-input contact-chkbox">
                      <span class="new-control-indicator"></span>
                    </label>
                  </div>
                  <img src="{% static 'assets/img/others/traffic-jam.png' %}" alt="avatar" width="100">
                  <div class="user-meta-info">
                    <p class="user-name" data-name="Alan Green">Grupo 1</p>
                    <p class="user-work" data-occupation="Web Developer">Segursat 1</p>
                  </div>
                </div>
                <div class="user-email">
                  <p class="info-title">Cantidad:</p>
                  <p class="usr-email-addr" data-email="Cantidad 2 ">Cantidad 2</p>
                </div>
                <div class="user-location">
                  <p class="info-title">Descripción:</p>
                  <p class="usr-location" data-location="Descripción 2">Descripción 2</p>
                </div>
                <div class="action-btn">
                  <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                      <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                  </a>
                  <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                      <polyline points="3 6 5 6 21 6"></polyline>
                      <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                      <line x1="10" y1="11" x2="10" y2="17"></line>
                      <line x1="14" y1="11" x2="14" y2="17"></line>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="items">
              <div class="item-content">
                <div class="user-profile">
                  <div class="n-chk align-self-center text-center">
                    <label class="new-control new-checkbox checkbox-primary">
                      <input type="checkbox" class="new-control-input contact-chkbox">
                      <span class="new-control-indicator"></span>
                    </label>
                  </div>
                  <img src="{% static 'assets/img/others/traffic-jam.png' %}" alt="avatar" width="100">
                  <div class="user-meta-info">
                    <p class="user-name" data-name="Alan Green">Grupo 2</p>
                    <p class="user-work" data-occupation="Web Developer">Segursat 2</p>
                  </div>
                </div>
                <div class="user-email">
                  <p class="info-title">Cantidad:</p>
                  <p class="usr-email-addr" data-email="Cantidad 2 ">Cantidad 2</p>
                </div>
                <div class="user-location">
                  <p class="info-title">Descripción:</p>
                  <p class="usr-location" data-location="Descripción 2">Descripción 2</p>
                </div>
                <div class="action-btn">
                  <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                      <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                  </a>
                  <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                      <polyline points="3 6 5 6 21 6"></polyline>
                      <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                      <line x1="10" y1="11" x2="10" y2="17"></line>
                      <line x1="14" y1="11" x2="14" y2="17"></line>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/footer.html' %}
</div>
<!-- End Content Area -->
{% endblock %}
{% block script_content %}
<!-- Begin Page Level Custom Scripts -->
<script src="{% static 'plugins/table/datatable/datatables.js' %}"></script>
<!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
<script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js' %}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/treeview/custom-jstree.js' %}"></script>
<script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
<script src="{% static 'plugins/sweetalerts/sweetalert2.min.js' %}"></script>
<script src="{% static 'plugins/sweetalerts/custom-sweetalert.js' %}"></script>
<script src="{% static 'assets/js/widgets/modules-widgets.js' %}"></script>
<script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/apps/contact.js' %}"></script>
<!-- End Page Level Custom Scripts -->
{% endblock%}