{% load static %}
{% load widget_tweaks %}

{% for unit in units %}
{% if modal_unit_id == unit.id %}
<div class="modal fade" id="unit{{unit.id}}_update_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {% load static %}
      <form method="post" action="{% url 'units' %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">{{unit.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for field in update_form %}
          <script>console.log("{{field.name}}")</script>
          <div class="form-group">
            {% if field.name != "id" %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% endif %}
            {% if field.errors %}
            {% render_field field class="form-control is-invalid" placeholder=field.label %}
            {% for error in field.errors %}
            <p class="help-block text-danger">(*) {{ error }}</p>
            {% endfor %}
            {% else %}
            {% if field.value %}
            {% render_field field class="form-control is-valid" placeholder=field.label %}
            {% else %}
            {% render_field field class="form-control" placeholder=field.label %}
            {% endif %}
            {% endif %}
          </div>
          {% endfor %}
          <input type="hidden" name="form_type" value="update_form">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="submit-btn btn btn-primary">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
<div class="modal fade" id="unit{{unit.id}}_update_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {% load static %}
      <form method="post" action="{% url 'units' %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">{{unit.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">Identificador Unico</label>
            <input type="text" class="form-control" name="uniqueid" value="{{unit.uniqueid}}">
          </div>
          <div class="form-group">
            <label for="">Imei del Equipo</label>
            <input type="text" class="form-control" name="imei" value="{{unit.imei}}">
          </div>
          <div class="form-group">
            <label for="">Número de telefono del SIM</label>
            <input type="text" class="form-control" name="sim_phonenumber" value="{{unit.sim_phonenumber}}">
          </div>
          <div class="form-group">
            <label for="">Identificador del SIM</label>
            <input type="text" class="form-control" name="sim_iccid" value="{{unit.sim_iccid}}">
          </div>
          <div class="form-group">
            <label for="">Placa de la unidad</label>
            <input type="text" class="form-control" name="unit_name" value="{{unit.name}}">
          </div>
          <div class="form-group">
            <label for="">Odometro</label>
            <input type="text" class="form-control" name="odometer" value="{{unit.odometer}}">
          </div>
          <div class="form-group">
            <label for="">Nota</label>
            <textarea type="text" class="form-control" name="note" rows="10">{{unit.note}}</textarea>
          </div>
          <input type="hidden" name="form_type" value="update_form">
          <input type="hidden" name="id" value="{{unit.id}}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="submit-btn btn btn-primary">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}